<section id="experience">
    <h1>Experience</h1>

    <div id="exp-wrapper">
        <div class="exp card">
            <div class="work-wrapper">
                <h2 class="position">Backend Developer</h2>
                <div class="company-wrapper">
                    <div>
                        <h4 class="company">Private Inc</h4>
                        <h4 class="work-type before-sep">Full Time</h4>
                        <h4 class="dest before-sep">Remote</h4>
                        <h4 class="dest before-sep">Seattle</h4>
                    </div>
                    <div class="duration">April 2025 – Present</div>
                </div>
            </div>
            <ul class="skills">
                <li>PostgreSQL</li>
                <li>Express.js</li>
                <li>React</li>
                <li>NodeJS</li>
                <li>MinIO</li>
            </ul>
        </div>

        <div class="exp card">
            <div class="work-wrapper">
                <h2 class="position">Full Stack Developer</h2>
                <div class="company-wrapper">
                    <div>
                        <h4 class="company">Digital Pathshala</h4>
                        <h4 class="work-type before-sep">Intern</h4>
                        <h4 class="dest before-sep">Remote</h4>
                        <h4 class="dest before-sep">Itahari</h4>
                    </div>
                    <div class="duration">March 2025 – May 2025</div>
                </div>
            </div>
            <ul class="skills">
                <li>PostgreSQL</li>
                <li>Express.js</li>
                <li>React</li>
                <li>NodeJS</li>
                <li>MinIO</li>
            </ul>
        </div>

    </div>
</section>