<header>
    <nav>
        <div class="heading">
            <h1>Avinash Pokhrel</h1>
            <h2> > Turning Complex Logic into Scalable Systems</h2>
        </div>

        <ul class="social-links">
            <li>
                <button class="social-link">
                    <a href="https://github.com/xetri" target="_blank">
                        <span>G</span>
                        GitHub
                    </a>
                </button>
            </li>
            <li>
                <button class="social-link">
                    <a href="https://linkedin.com/in/avinashpokhrel" target="_blank">
                        <span>L</span>
                        LinkedIn
                    </a>
                </button>
            </li>
            <li>
                <button class="social-link">
                    <a href="mailto:contact@avinashpokhrel.com.np" target="_blank">
                        <span>E</span>
                        Email
                    </a>
                </button>
            </li>
        </ul>
    </nav>
</header>