<section id="projects">
    <h1>Project</h1>
    <div id="project-wrapper">
        <div class="project card">
            <h4>eKitab: Digital Books</h4>
            <p>Built a full stack e-books platform which handles book publications and downloads as PDF.</p>
            <ul>
                <li>React</li>
                <li>PostgreSQL</li>
                <li>MinIO</li>
            </ul>
            <div id="src-btn">
                <button><load src="svgs/github.html" />Source</button>
                <button><load src="svgs/cloud.html" />Preview</button>
            </div>
        </div>
        <div class="project card">
            <h4>NepSOL: Blockchain Payments</h4>
            <p>A platform to directly get tip as support through Solana blockchain.</p>
            <ul>
                <li>Node.js</li>
                <li>React</li>
                <li>Firebase</li>
                <li>Vercel</li>
            </ul>
            <div id="src-btn">
                <button><load src="svgs/github.html" />Source</button>
                <button><load src="svgs/cloud.html" />Preview</button>
            </div>
        </div>
        <div class="project card">
            <h4>Chat Application</h4>
            <p>Realtime multi-users chatting web app.</p>
            <ul>
                <li>Express.js</li>
                <li>Ejs</li>
                <li>JWT Auth</li>
                <li>SQLite</li>
            </ul>
            <div id="src-btn">
                <button><load src="svgs/github.html" />Source</button>
                <button><load src="svgs/cloud.html" />Preview</button>
            </div>
        </div>
        <div class="project card">
            <h4>Arena Allocator</h4>
            <p>Simplified manual memory management library with helful APIs for strings without any external dependencies.</p>
            <ul>
                <li>C</li>
            </ul>
            <div id="src-btn">
                <button><load src="svgs/github.html" />Source</button>
                <button><load src="svgs/cloud.html" />Preview</button>
            </div>
        </div>
    </div>
</section>