<section id="tech-stack">
    <h1>Tech Stack</h1>
    <div id="meta">
        <div class="card">
            <div>
                <load src="svgs/frontend.html" />
                <h3>Frontend</h3>
            </div>
            <ul>
                <li>React</li>
                <li>Next.js</li>
                <li>Typescript</li>
            </ul>
        </div>
        <div class="card">
            <div>
                <load src="svgs/backend.html" />
                <h3>Backend</h3>
            </div>
            <ul>
                <li>Node.js</li>
                <li>Python</li>
                <li>Go</li>
                <li>Redis</li>
                <li>PostgreSQL</li>
            </ul>
        </div>
        <div class="card">
            <div>
                <load src="svgs/cloud.html" />
                <h3>Cloud</h3>
            </div>
            <ul>
                <li>Docker</li>
                <li>GitHub</li>
                <li>Firebase</li>
                <li>Vercel</li>
            </ul>
        </div>
        <div class="card">
            <div>
                <load src="svgs/tools.html" />
                <h3>Tools</h3>
            </div>
            <ul>
                <li>Git</li>
                <li>Figma</li>
                <li>Obsidian</li>
                <li>Postman</li>
            </ul>
        </div>
    </div>
</section>