$line-stroke: #333;
$body-max-width: 78rem;
$side-body-margin: 2rem;
$text-color: #333;
$theme-color: #8b5cf6;

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}