@use "variables" as var;

#about {
    .info {
        display: grid;
        flex-direction: column;

        padding: 1.8rem 1.6rem;
        gap: 1rem;
        
        font-family: "Roboto Mono", monospace;


        p {
            line-height: 1.6rem;

            &::before {
                content: "> ";
            }

        }

    }
}