@use "variables" as var;

#about {
    .info {
        display: flex;
        flex-direction: column;
        flex: 1 1 0;

        padding: 1.8rem 1.6rem;
        gap: 1rem;
        
        font-family: "Roboto Mono", monospace;


        p {
            line-height: 1.6rem;

            &::before {
                content: "> ";
            }

        }

    }
}