@use "variables" as var;

header {
    margin: 0 var.$side-body-margin;
    display: grid;
    // justify-content: center;
    max-width: var.$body-max-width;
    color: var.$text-color;

    .heading {
        #name {
            font-family: "Roboto Mono", sans-serif;
            font-size: 3rem;
            width: max-content;
            text-transform: uppercase;
            line-height: 3rem;
            margin-bottom: 0.6rem;
            word-spacing: -1rem;
        }

        #tagline {
            color: var.$text-color;
            font-family: "Space Mono", "Roboto Mono", monospace;
            font-weight: 300;
            opacity: 85%;
            line-height: 2.25rem;

            &::before {
                content: "> ";
            }

            &::after {
                content: "|";
                color: var.$text-color;
                background-color: var.$text-color;
                animation: blink 1s infinite;
            }

            @keyframes blink {
                0%, 50% {
                    opacity: 70%;
                }

                51%, 100% {
                    opacity: 0;
                }
            }
        }

        #role {
            display: none; // kind an eye-sore for now!
            color: var.$text-color;
            font-family: "Roboto Mono", monospace, sans-serif;
            margin-top: 0.3rem;
        }      
    }
}

.social-links {
    display: flex;
    gap: 1.6rem;
    margin: 1.2rem 0;
    font-family: "Geist", "Space Mono", "Roboto Mono", monospace;
    
    li {
        list-style: none;
        color: var.$text-color;
    }
    
    .social-link {
        color: inherit;
        background: transparent;
        font-weight: 500;
        padding: 0.45rem 1rem;
        transition: 300ms ease;
        // @include cover;
        border: 0.18rem dashed var.$theme-color;
        border-radius: 0.5rem;
        box-shadow: 0.5rem 0.5rem 0 #1c1f2b;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.4rem;
        }

        svg {
            width: 1rem;
            height: 1rem;
        }

        &:hover {
            background-color: var.$theme-color;
            color: var.$sec-text-color;
        }
    }
}