@use "variables" as var;

header {
    margin: 0 var.$side-body-margin;
    margin-top: 2rem;
    display: grid;
    justify-content: center;
    max-width: var.$body-max-width;
    color: var.$text-color;

    .heading {
        h1 {
            font-family: "Roboto Mono", sans-serif;
            font-weight: bold;
            font-size: 3rem;
            text-transform: uppercase;
            line-height: 2.6rem;

            &::after {
                content: "";
                display: block;
                height: 0.5rem;
            }

        }

        h2 {
            color: var.$text-color;
            font-family: "Space Mono", "Roboto Mono", monospace;
            font-weight: 300;
            opacity: 85%;
            line-height: 2rem;

            &::after {
                content: "|";
                color: var.$text-color;
                background-color: var.$text-color;
                animation: blink 1s infinite;
            }

            @keyframes blink {
                0%, 50% {
                    opacity: 70%;
                }

                50.01%, 100% {
                    opacity: 0;
                }
            }
        }
    }
}

.social-links {
    display: flex;
    gap: 1.6rem;
    margin-top: 1.4rem;
    margin-bottom: 1rem;
    font-family: "Geist", "Space Mono", "Roboto Mono", monospace;
    
    li {
        list-style: none;
        color: var.$text-color;
    }
    
    .social-link {
        color: inherit;
        font-weight: 500;
        border: 0.18rem dashed var.$theme-color;
        padding: 0.45rem 1rem;
        border-radius: 0.5rem;
        transition: 300ms ease;
        background: transparent;
        box-shadow: 0.4rem 0.4rem 0 #1c1f2b;

        a {
            display: flex;
            gap: 1rem;
        }

        &:hover {
            background-color: var.$theme-color;
            color: #eee;
        }
    }
}