@use "variables" as var;
@use "about";
@use "tech-stack";
@use "project";

main {
    $gap: 2rem;

    margin: 0 var.$side-body-margin;
    margin-top: $gap;
    
    display: grid;
    flex-direction: column;
    gap: $gap * 1.5;
    max-width: var.$body-max-width;
    
    color: var.$text-color;

    section > h1 {
        font-style: italic;
        font-family: "Roboto Mono", sans-serif;
        margin-bottom: 1.5rem;

        &::before {
            content: "# ";
        }
    }

}