@use "variables" as var;

#projects {
    #project-wrapper {
        display: grid;
        gap: 1.6rem;
    }

    .project {
        display: flex;
        flex-direction: column;
        padding: 1.8rem 1.6rem;
        gap: 1rem;

        ul {
            display: flex;
            gap: 0.45rem;

            li {
                text-align: center;

                padding: 0.45rem 0.6rem;

                background-color: #1a1a1a;
                color: var.$sec-text-color;

                border-radius: 0.5rem;
            }
        }

        #src-btn {
            display: flex;
            gap: 1rem;
            align-items: center;
            margin-top: 1rem;
            
            button {
                display: flex;
                align-items: center;

                color: var.$sec-text-color;
                background-color: var.$theme-color;
                padding: 0.5rem 0.4rem;
                border: none;
                border-radius: 0.5rem;
            }
        }

    }
}