@use "variables" as var;

#tech-stack {
    #meta {
        display: flex;
        gap: 1.6rem;

        .card {
            width: fit-content;
            padding: 1.8rem 1.6rem;

            > div {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 1rem;
                gap: 0.5rem;

                svg {
                    color: var.$theme-color;
                }
            }
        }

        ul {
            display: grid;
            grid-area: auto;
            gap: 0.45rem;

            li {
                text-align: center;

                padding: 0.4rem 0.8rem;

                background-color: var.$theme-color;
                color: var.$sec-text-color;

                border-radius: 0.5rem;
            }
        }

    }
}