name: Deploy Portfolio
on: 
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Install Quarto
        run: |
          wget https://github.com/quarto-dev/quarto-cli/releases/download/v1.8.25/quarto-1.8.25-linux-amd64.tar.gz
          tar -xvf quarto-1.8.25-linux-amd64.tar.gz
          sudo ln -s $PWD/quarto-1.8.25/bin/quarto /usr/local/bin/quarto

      - name: Verify Quarto installation
        run: quarto --version

      - name: Build Website
        run: |
          quarto render

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./_site
          publish_branch: gh-pages

      